// TrackStudio - Couleurs principales (override du thème parent Hummingbird)

// Couleur primaire (boutons, liens, éléments d'accent)
// $primary: hsl(23deg 85% 52%);
:root {
   --primary: hsl(23deg 85% 52%);
   //    --primary: hsl(319, 85%, 52%);
}
$primary-rgb: 37, 99, 235;

// Couleurs secondaires
$secondary: #64748b;
$secondary-rgb: 100, 116, 139;

// Couleurs d'accent
$accent: #0ea5e9;
$accent-rgb: 14, 165, 233;
