# Ignorer tout par défaut
/*
!.gitignore

# Débloquer les fichiers Docker
!docker-compose.yml
!Dockerfile

# Débloquer modules/ et themes/ pour pouvoir les parcourir
!modules/
!themes/

# modules : tout ignorer sauf trackinstudio*
/modules/*
!/modules/trackinstudio*
!/modules/trackinstudio*/*

# themes : tout ignorer sauf trackinstudio
/themes/*
!/themes/trackinstudio
!/themes/trackinstudio/*
/themes/trackinstudio/assets/cache
/themes/trackinstudio/cache
/themes/trackinstudio/src
/themes/trackinstudio/node_modules
/themes/trackinstudio/package*
/themes/trackinstudio/vite.config.js

.env
.env.dev

/node_modules/
.DS_Store