# Ignorer tout par défaut
/*
!.gitignore

# Débloquer les fichiers Docker
!docker-compose.yml
!Dockerfile

# Débloquer modules/ et themes/ pour pouvoir les parcourir
!modules/
!themes/

# modules : tout ignorer sauf trackinstudio*
/modules/*
!/modules/trackinstudio*
!/modules/trackinstudio*/*

# themes : tout ignorer sauf trackinstudio
/themes/*
!/themes/trackinstudio
!/themes/trackinstudio/*

node_modules/