# Ignorer tout par défaut
/*
!.gitignore

# assets : uniquement assets/css
!assets/
/assets/*
!assets/css/
!assets/css/**

# config et templates
!config/
!config/**
!templates/
!templates/**

# preview
!preview.png
